li {color:#00ff00}
th,td{border: 5px solid #00ff00;}
  
table{width: 100%;}

ul.a {
  list-style-type: square;}

ol.d  {
  list-style-type: upper-roman;}




#lista {background-color: green}
#titulo {background-color:#00ff00}
#produtos {background-color:#00ff00}
#geral{background-image: url(https://th.bing.com/th/id/OIP.UJ7_STRF0blgscsGpR7pXAHaEo?w=238&h=180&c=7&o=5&pid=1.7);
background-repeat: repeat;
}
